@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("root.css");
@import url("reset.css");

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  background-color: var(--navy950);
  min-height: 100vh;
}

:focus-visible {
  outline: 1px solid var(--navy200);
  outline-offset: 0.25em;
}

.d-block {
  display: block;
}

/* ----- REPORTS SECTION ----- */
.reports {
  margin-block: 4rem;
  display: grid;
  align-items: start;
  gap: 2rem;
}

.report-card {
  border-radius: 16px;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  animation: fade-in 350ms ease-out both;
  animation-delay: var(--delay, 0);

  &[data-variant="header"] {
    background-color: var(--navy900);
  }

  &[data-variant="work"] {
    background-color: var(--orange300);
    --_icon: var(--icon-work);
  }

  &[data-variant="play"] {
    background-color: var(--blue300);
    --_icon: var(--icon-play);
  }

  &[data-variant="study"] {
    background-color: var(--pink400);
    --_icon: var(--icon-study);
  }

  &[data-variant="exercise"] {
    background-color: var(--green400);
    --_icon: var(--icon-exercise);
  }

  &[data-variant="social"] {
    background-color: var(--purple700);
    --_icon: var(--icon-social);
  }

  &[data-variant="self-care"] {
    background-color: var(--Yellow300);
    --_icon: var(--icon-self-care);
  }
}

.report-card__header {
  background-color: var(--purple600);
  padding-block: 2rem;
  padding-inline: 2rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  border-radius: inherit;
}

.report-card__user-image {
  width: 4rem;
  border-radius: 50%;
  border: 3px solid hsl(0, 0%, 100%);
}

.report-card__menu {
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.report-card__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

  &:checked + .report-card__label {
    color: currentColor;
  }

  &:focus-visible + .report-card__label {
    outline: 1px solid var(--navy200);
    outline-offset: 0.25em;
  }
}

.report-card__label {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
  color: color-mix(in srgb, var(--navy200), transparent 50%);
  font-size: 1.1rem;
  font-weight: 300;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: currentColor;
  }
}

.report-card__for {
  font-size: 1rem;
  font-weight: 300;
  color: var(--navy200);
  margin-block: 0 0.25rem;
}

.report-card__username {
  font-weight: 300;
  font-size: clamp(1.5rem, 1rem + 1.5vw, 2.75rem);
}

.report-card__image {
  padding-block: 1.25rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background: var(--_icon) no-repeat;
    background-size: contain;
    position: absolute;
    width: 4.5rem;
    height: 5rem;
    top: -3.25%;
    right: 5%;
  }
}

.report-card__main {
  padding-block: 1.75rem 2rem;
  padding-inline: 1.75rem;
  background-color: var(--navy900);
  border-radius: inherit;
  flex: 1;
}

.report-card__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0 0.75rem;
}

.report-card__title {
  font-weight: 400;
  font-size: 1.125rem;
}

.report-card__menu-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: brightness(2);
  }
}

.report-card__content {
  display: none;
  justify-content: space-between;
  align-items: center;

  &[data-current] {
    display: flex;
  }
}

.report-card__time {
  font-size: clamp(2rem, 1rem + 2.5vw, 3rem);
  font-weight: 300;
}

.report-card__previous {
  color: var(--navy200);
  font-size: 0.925rem;
}

@keyframes fade-in {
  from {
    translate: 0 5.25%;
    scale: 0.95;
    opacity: 0;
  }

  to {
    translate: 0;
    scale: 1;
    opacity: 1;
  }
}

/* ----- MEDIA QUERIES ----- */
@media (width >= 68rem) {
  body {
    justify-content: center;
  }

  .reports {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    min-height: 52ch;
    max-width: 100ch;
  }

  .report-card {
    height: 100%;
  }

  .report-card[data-variant="header"] {
    grid-row: span 2;
  }

  .report-card__header {
    flex: 2;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  .report-card__user-image {
    width: 4.5rem;
  }

  .report-card__menu {
    flex: 1;
    flex-direction: column;
    align-items: start;
    padding-inline: 2rem;
    padding-block: 0.5rem;
  }

  .report-card__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding-block-end: 1.75rem;
  }

  .report-card__content {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }

  .report-card__image::before {
    top: -20%;
  }
}
