@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("root.css");
@import url("reset.css");

body {
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  background-color: var(--navy950);
}

.d-block {
  display: block;
}

/* ----- REPORTS SECTION ----- */
.reports {
  padding-block: 4rem;
}

.report-card {
  background-color: var(--navy900);
}

.report-card__for {
  font-size: 1rem;
  font-weight: 300;
}

.report-card__username {
  font-weight: 400;
}
