/* ----- CUSTOM PROPERTIES ----- */
:root {
  /* COLORS */
  /* Primary */
  --purple600: hsl(246, 80%, 60%);
  --orange300: hsl(15, 100%, 70%);
  --blue300: hsl(195, 74%, 62%);
  --pink400: hsl(348, 100%, 68%);
  --green400: hsl(145, 58%, 55%);
  --purple700: hsl(264, 64%, 52%);
  --yellow300: hsl(43, 84%, 65%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --navy950: hsl(226, 43%, 10%);
  --navy900: hsl(235, 46%, 20%);
  --purple500: hsl(235, 45%, 61%);
  --navy200: hsl(236, 100%, 87%);
  /* ICON IMAGES */
  --icon-work: url("../images/icon-work.svg");
  --icon-play: url("../images/icon-play.svg");
  --icon-study: url("../images/icon-study.svg");
  --icon-exercise: url("../images/icon-exercise.svg");
  --icon-social: url("../images/icon-social.svg");
  --icon-self-care: url("../images/icon-self-care.svg");
  /* ERROR MESSAGE */
  --error-bg: hsl(0, 67%, 41%);
}

/* ----- RESET ----- */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ----- GENERAL ----- */
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  background-color: var(--navy950);
  min-height: 100vh;
}

:focus-visible {
  outline: 1px solid var(--navy200);
  outline-offset: 0.25em;
}

.d-block {
  display: block;
}

/* ----- ERROR MESSAGE ----- */
.error {
  background-color: var(--error-bg);
  padding-block: 1.25rem;
  padding-inline: 2rem;
  border-radius: 16px;
  color: var(--white);
  animation: fade-in 0.35s both;
}

/* ----- REPORTS SECTION ----- */
.reports {
  width: min(100% - 3rem, 20.5rem);
  margin-block: 4rem;
  display: grid;
  align-items: start;
  gap: 2rem;
}

.report-card {
  border-radius: 16px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  animation: fade-in 350ms ease-out both;
  animation-delay: var(--delay, 0);

  &[data-variant="header"] {
    background-color: var(--navy900);
  }

  &[data-variant="work"] {
    background-color: var(--orange300);
    --_icon: var(--icon-work);
  }

  &[data-variant="play"] {
    background-color: var(--blue300);
    --_icon: var(--icon-play);
  }

  &[data-variant="study"] {
    background-color: var(--pink400);
    --_icon: var(--icon-study);
  }

  &[data-variant="exercise"] {
    background-color: var(--green400);
    --_icon: var(--icon-exercise);
  }

  &[data-variant="social"] {
    background-color: var(--purple700);
    --_icon: var(--icon-social);
  }

  &[data-variant="self-care"] {
    background-color: var(--yellow300);
    --_icon: var(--icon-self-care);
  }
}

.report-card__header {
  background-color: var(--purple600);
  padding-block: 2rem;
  padding-inline: 2rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  border-radius: inherit;
}

.report-card__user-image {
  width: 4rem;
  border-radius: 50%;
  border: 3px solid var(--white);
}

.report-card__menu {
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.report-card__label {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
  color: color-mix(var(--purple500) 80%, var(--white));
  font-size: 1.1rem;
  font-weight: 400;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: currentColor;
  }
}

.report-card__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

  &:checked + .report-card__label {
    color: currentColor;
  }

  &:focus-visible + .report-card__label {
    outline: 1px solid var(--navy200);
    outline-offset: 0.25em;
  }
}

.report-card__for {
  font-size: 1rem;
  font-weight: 300;
  color: var(--navy200);
  margin-block: 0 0.25rem;
}

.report-card__username {
  font-weight: 300;
  font-size: clamp(1.5rem, 1rem + 1.5vw, 2.75rem);
}

.report-card__image {
  padding-block: 1.25rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background: var(--_icon) no-repeat;
    background-size: contain;
    position: absolute;
    width: 4.5rem;
    height: 5rem;
    top: -3.25%;
    right: 5%;
  }
}

.report-card__main {
  padding-block: 1.75rem 2rem;
  padding-inline: 1.75rem;
  background-color: var(--navy900);
  border-radius: inherit;
  flex: 1;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:where(:hover):not(:has(button:hover)) {
    background-color: color-mix(in srgb, var(--navy900) 90%, var(--navy200));
  }
}

.report-card__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0 0.75rem;
}

.report-card__title {
  font-weight: 400;
  font-size: 1.125rem;
}

.report-card__menu-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: brightness(2);
  }
}

.report-card__content {
  display: none;
  justify-content: space-between;
  align-items: center;

  &[data-current] {
    display: flex;
  }
}

.report-card__time {
  font-size: clamp(2rem, 1rem + 2.5vw, 3rem);
  font-weight: 300;
}

.report-card__previous {
  color: var(--navy200);
  font-size: 0.925rem;
}

@keyframes fade-in {
  from {
    translate: 0 5.25%;
    scale: 0.95;
    opacity: 0;
  }

  to {
    translate: 0;
    scale: 1;
    opacity: 1;
  }
}

/* ----- MEDIA QUERIES ----- */
@media (width >= 68rem) {
  body {
    justify-content: center;
  }

  .reports {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    max-height: 50rem;
    min-width: 62rem;
  }

  .report-card {
    height: 100%;
  }

  .report-card[data-variant="header"] {
    grid-row: span 2;
  }

  .report-card__header {
    flex: 2;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  .report-card__user-image {
    width: 4.5rem;
  }

  .report-card__menu {
    flex: 1;
    flex-direction: column;
    align-items: start;
    padding-inline: 2rem;
    padding-block: 0.5rem;
  }

  .report-card__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding-block-end: 1.75rem;
  }

  .report-card__content {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }

  .report-card__image::before {
    top: -20%;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}
